.add-voucher-container {
  display: flex;
  background-color: #fff7ec;
  flex-direction: column;
  height: 100%;
}

.add-voucher-form {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.voucher-back-step {
  background-color: #fec9c9;
  display: flex;
  font-size: large;
  padding: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.voucher-title {
  margin-left: 30px;
}

.voucher-text-container,
.voucher-text {
  /* height: 100px; */
  width: 100%;
}

.voucher-text {
  border-radius: 10px;
}

.display-user {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bi-person-circle {
  font-size: xx-large;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-size: 1.1rem;
}

/* Customer Voucher and Scanned list pages CSS  start here*/

.back-to-wallet {
  cursor: pointer;
  margin: 0% 85% 0% 0%;
}
.customer-vouchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.voucher-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.voucher-controls button {
  margin: 0 5px;
}

.voucher-controls input {
  width: 50px;
  text-align: center;
}

.vouchers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  overflow-y: auto; /* Add a scrollbar when there are too many vouchers */
  max-height: 500px; /* Set a maximum height to limit the scrollable area */
  margin-top: 20px;
}

.voucher-card {
  width: 180px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: #f9f9f9;
}

.voucher-card:hover {
  transform: scale(1.05);
}

/* Additional styles to improve aesthetics, you can customize these as you like */

.add-voucher-points.popup {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.add-voucher-points.popup h6 {
  margin-bottom: 10px;
}

.add-voucher-points.popup input {
  width: 100%;
  margin-bottom: 10px;
}

.add-voucher-points.popup button {
  margin-right: 5px;
}
/* Customer Voucher and Scanned list pages CSS  ends here*/
